.app__main-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

.app__content {
  flex: 1 0 auto;
  background-color: white; 
  display: flex;
  flex-direction: column;
}



