.footer_content {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  max-width: 1440px;
  height: 80px;
  padding: 0 40px;
}

.copyright {
  color: #b6bcbf;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.footer_links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.home_link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
}

.social_links {
  display: flex;
  gap: 24px;
}

.triple_link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #1a1b22;
  text-decoration: none;
}

.social_icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 425px) {
  .footer_content {
    height: 176px;
    padding: 0;
    margin: 20px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
  }

  .footer_links {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "home social"
      "tripleten .";
  }

  .footer_link {
    grid-column: 1;
    display: block;
    text-align: left;
  }

  .home_link {
    grid-area: home;
  }

  .triple_link {
    grid-area: tripleten;
  }

  .social_links {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: social;
  }

  .copyright {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
  }
}
