.header-main-wrapper {
    background-color: transparent; 
    background-image: url('../images/main-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s ease;
}

.header-main-wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    max-width: 1440px;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 104px;
    box-shadow: 0px -1px 0px 0px #FFFFFF33 inset;
}

.header--saved-news {
    background-color: white;
}

.header--box-shadow {
    box-shadow: 0px -1px 0px 0px #D1D2D6 inset;
}

.header__logo {
    font-family: Roboto Slab;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;   
    color: white; 
}

.header__logo--saved-news {
    color: black;
}

@media screen and (max-width: 770px) {
    .header {
        height: 66px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        height: 56px;
        padding: 0 16px;
    }

    .header__logo {
        font-size: 16px;
        line-height: 22px;
    }
}

