.keyword-search__form {
    position: relative; 
    width: 100%; 
    max-width: 608px;
    height: auto; 
    margin: 0 auto 80px; 
}

.keyword-search__input {
    width: 100%;
    height: 64px; 
    padding-left: 24px;
    border: 1px solid #D1D2D6;
    border-radius: 35px; 
    font-size: 16px;
    box-sizing: border-box;
}

.keyword-search__button {
    position: absolute; 
    right: 0;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: #2F71E5;
    color: white;
    border: none;
    height: 64px;
    width: 168px;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 35px; 
    cursor: pointer;
}

.keyword-search__input:focus {
    outline: none; 
    border: 1px solid #D1D2D6;
}

@media screen and (max-width: 768px) {
    .keyword-search__form {
        max-width: 452px;
        margin-bottom: 40px;
    }

    .keyword-search__input {
        height: 56px;
    }

    .keyword-search__button {
        width: 160px;
        height: 56px;
        top: 50%;
    }
}

@media screen and (max-width: 425px) {
    .keyword-search__form {
        margin: auto 0 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 288px;
    }

    .keyword-search__input,
    .keyword-search__button {
        transform: unset;
        padding: 0;
        position: static; 
        text-align: center;   
        box-sizing: border-box;
        width: 100%;
        height: 56px;
    }

    .keyword-search__input {
        border-radius: 35px;
    }

    .keyword-search__button {
        border-radius: 35px;
    }
}

/*.keyword__search-form {
    position: relative; 
    width: 100%; 
    max-width: 608px;
    height: auto;; 
    margin: 0 auto 80px; 
}

.keyword__search-input {
    width: 100%;
    height: 64px; 
    padding-left: 24px;
    border: 1px solid #D1D2D6;
    border-radius: 35px; 
    font-size: 16px;
    box-sizing: border-box;
}

.keyword__search-button {
    position: absolute; 
    right: 0;
    top: 50%; 
    transform: translateY(-50%); 
    background-color: #2F71E5;
    color: white;
    border: none;
    height: 64px;
    width: 168px;
    font-size: 18px;
    padding: 0 15px;
    border-radius: 35px; 
    cursor: pointer;
}

.keyword__search-input:focus {
    outline: none; 
    border: 1px solid #D1D2D6;
}

@media screen and (max-width:768px) {
    .keyword__search-form {
        max-width: 452px;
        margin-bottom: 40px;
    }

    .keyword__search-input {
        height: 56px;
    }

    .keyword__search-button {
        width: 160px;
        height: 56px;
        top: 50%;
    }
}

@media screen and (max-width:425px) {
    .keyword__search-form {
        margin: auto 0 32px;;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 288px;
    }

    .keyword__search-input,
    .keyword__search-button {
        transform: unset;
        padding: 0;
        position: static; 
        text-align: center;   
        box-sizing: border-box;
        width: 100%;
        height: 56px;
}

    .keyword__search-input {
        border-radius: 35px;
    }

    .keyword__search-button {
        border-radius: 35px;
    }
}*/