.main__page {
    margin: 0;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 496px
}

.main-page__content {
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: left;
    max-width: 608px;
    margin: auto;
    gap: 32px;
}

.main-page__header {
    margin: 0;
    font-family: Roboto Slab;
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
}

.main-page__description {
    margin: 32px auto 88px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

@media screen and (max-width:770px) {
    .main__page {
        min-height: auto;
    }

    .main-page__content {
        max-width: 452px;
        padding-top: 38px;
        align-items: left;
        gap: 16px;
    }

    .main-page__header {
        font-size: 36px;
        line-height: 40px;
    }

    .main-page__description {
        font-size: 18px;
        line-height: 24px;
        margin: 16px 0 48px 0;
    }
}

@media screen and (max-width: 425px) {
    .main__page {
        min-height: auto;
        height: auto;
    }

    .main-page__content {
        max-width: 288px;
        margin: 30px 16px;
        align-items: center;
    }
}

  
