/* Navigation Styles */
.navigation__container {
    position: relative;
    display: flex;
    margin: 0;
    align-items: center;
    gap: 42px;
}

.navigation__home-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navigation__home-link {
    width: 64px;
    color: white;
    text-decoration: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.navigation__home-container.active .navigation__home-link:after {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
}

.navigation__saved-articles-container {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation__saved-articles-link {
    width: 160px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #B6BCBF;
}

.navigation__saved-articles-container.active .navigation__saved-articles-link:after {
    content: "";
    width: 100%; 
    position: absolute;
    bottom: -27px;
    left: 0;
    height: 3px;
    background: black;
}

.navigation__signin-button {
    width: 176px;
    height: 48px;
    border: 1px solid white; 
    background-color: transparent; 
    color: white; 
    border-radius: 25px; 
    text-align: center; 
    cursor: pointer; 
    transition: opacity 0.3s ease; 
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.navigation__text--saved-news .navigation__signin-button {
    border: 1px solid black;
}
      
.navigation__signin-button:hover {
    opacity: 0.8;
}

.navigation__text--saved-news.navigation__home-link,
.navigation__text--saved-news.navigation__saved-articles-link,
.navigation__text--saved-news.navigation__signin-button,
.navigation__text--saved-news.navigation__username {
    color: black !important;
}

.navigation__text--saved-news.navigation__user-info {
    border-color: black !important;
}

.navigation__user-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    width: 112px;
    height: 48px;
    gap: 5px;
}

.navigation__user-info--saved-news {
    color: black;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    .navigation__container {
        gap: 16px;
    }

    .navigation__home-link {
        font-size: 16px;
        line-height: 24px;
    }

    .navigation__home-container.active .navigation__home-link:after {
        bottom: -21px;
    }

    .navigation__signin-button {
        width: 152px;
        height: 40px;
        font-size: 16px;
        line-height: 24px;
    }

    .navigation__saved-articles-link {
        font-size: 16px;
        line-height: 22px;
    }

    .navigation__saved-articles-container.active .navigation__saved-articles-link:after {
        bottom: -21px;
    }

    .navigation__user-info {
        width: 100px;
        height: 40px;
    }
}

.navigation__hamburger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navigation__hamburger-line--white {
    width: 16px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
}

.navigation__hamburger-line--black {
    width: 16px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}

@media (max-width: 425px) {
    .navigation__hamburger-menu {
        display: block;
    }
}

